.section{
    width: 700px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    border: 1px solid black;
    padding: 20px 50px;
    width: 200px;
}

.col-12{
    margin-bottom: 20px;
    text-align: left;
}

.col-3{
    text-align: right;
}
.row-cont{
    width: 98%;
    cursor: pointer;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.container summary::marker{
    content: none;
}